{% extends 'layouts/base.html' %}
{% load static file_extension %}

{% block extrastyle %}
<style>
  ul li {
    list-style-type: none;
  }
</style>
{% endblock extrastyle %}

{% block content %}
<div class="container-fluid py-4 px-5">
  <div class="row">
    <div class="col-lg-3 border py-2">
      <ul class="">
        {% for directory in directories %}
          {% if directory.directories %}
          <li class="">
            <i class="fa-solid fa-folder"></i>
            <a data-bs-toggle="collapse" href="#collapse{{directory.name}}" role="button" aria-expanded="false"
              aria-controls="collapse{{directory.name}}">
              {{ directory.name }}
            </a>
          </li>
          {% include 'includes/subdirectories.html' with directory=directory depth=depth|add:"3" %}
        {% else %}
          <li>
            <i class="fa-solid fa-folder"></i>
            <a href="?directory={{directory.path}}">{{ directory.name }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg-9 border py-2">
      {% if files %}
        <div class="d-flex justify-content-end mb-3">
          <label for="fileInput">
            <i class="fa-solid fa-upload text-primary fs-3"></i>
          </label>
          <form method="post" action="{% url 'upload_file' %}" id="upload-file" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="directory" value="{{ selected_directory }}">
            <input id="fileInput" class="d-none" onchange="submitForm()" type="file" name="file" required>
          </form>
        </div>
        <ul>
          <div class="row">
            {% for file in files %}
            <div class="col-lg-3 mb-3 rounded p-1 shadow-sm">
              {% if file.filename|file_extension in ".jpg, .png, .gif" %}
                <img height="170px" data-bs-toggle="modal" data-bs-target="#file-{{forloop.counter}}" class="w-100"
                  src="/media/{{ file.file }}" alt="df">
              {% elif file.filename|file_extension in ".mp4, .webm, .ogg" %}
                <video height="170px" data-bs-toggle="modal" data-bs-target="#file-{{forloop.counter}}" class="w-100"
                  src="/media/{{ file.file }}"></video>
              {% else %}
                <object data="/media/{{ file.file }}" type="application/pdf" width="100%" height="170px">
                  <a href="/media/{{ file.file }}">{{ file.filename }}</a>
                </object>
              {% endif %}
              <!-- Modal -->
              <div class="modal fade" id="file-{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ file.filename }}</h1>
                      <div class="" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-circle-xmark fs-5"></i>
                      </div>
                    </div>
                    <div class="modal-body">
                      {% if file.filename|file_extension in ".jpg, .png, .gif" %}
                        <img class="w-100" src="/media/{{ file.file }}" alt="df">
                      {% elif file.filename|file_extension in ".mp4, .webm, .ogg" %}
                        <video class="w-100" height="240" controls>
                          <source src="/media/{{ file.file }}" type="video/mp4">
                        </video>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="">
                <a href="{% url 'delete_file' file.file|encoded_file_path %}"><i class="fa-solid fa-trash text-danger"></i></a>
                <span>.</span>
                <a href="{% url 'download_file' file.file|encoded_file_path %}"><i class="fa-solid fa-download text-success"></i></a>
              </div>
            </div>
            {% endfor %}
          </div>
        </ul>
      {% else %}
        <p>Select a directory</p>
      {% endif %}
    </div>
  </div>

</div>
{% endblock content %}

{% block extrascripts %}

<script>
  function submitForm() {
    document.getElementById("upload-file").submit();
  }
</script>

{% endblock extrascripts %}